.hero-content {
  text-align: center;
  color: white;
  padding: 60px 20px;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Caja del buscador */
.busqueda-reservas {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}
